*{
    margin: 0 auto;
}
 #price-table tr td:last-child::before{content: '$';
 }
 #header{
     position: absolute;
     width: 100%;
     height: 80px;
     background-color:rgb(207, 135, 159);text-align:center;
     line-height: 80px;
     z-index: 10;

 }

 .h1{width: 40px; height: 40px;}
 .class1{
     background-color:rgb(235, 189, 171);height:200px;width:400px;vertical-align:top; 
 }
 #sidebar{
    width:200px; background-color:thistle;float: left;
    padding: 80px 0 0 0 ;
    height: 100%;
    text-align:center;
    position: fixed;

}
#sidebar ul li{
    margin: 10px 0;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #555;
}
#sidebar ul li a{
text-decoration:none;
color: #444;
}
 #sidebar li:hover{
     background-color: rosybrown;
     
 }
 #sidebar li:last-child {
    border-bottom: none;
}
/*.active {
    background-color: rgb(182, 126, 177);
    color: white;
}*/
 ul
 {
  list-style-type:none;
  padding:0;
  /*margin: 0;
  width: 20px;*/
 
 }
 
 #content{
    font-family:STXingkai,SimSun,Arial;
    background-color: rgb(235, 193, 176);
    display: inline-block;
    padding: 120px 0 0 300px;
    
 }
 #content .right .ant{
     margin-left: 20px;
     font-size: 20px;
     text-indent: 2em;
 }
 .clsaa2{
     background-color:pink;text-align:center; height:30px; margin: 0px; padding: 0px;
 }
 img {
      width: 500px;
     
  }
  .class3{
      text-align:center; 
     /*class3. hover img{filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.8;}*/
      }
    p{
    text-indent: 2em;
    font-size: 20px;
    margin-left: 20px;}
     p:first-letter{
        font: size 35px;
        float:left;
        padding-right:5px;
        font-weight:bold;
        font-family:STXingkai,SimSun,Arial;
        color:black;
     }