*{
    margin: 0 auto;
}

.head{
    background-color:thistle;
}

.head img{
    height:26px ;
}

.head a{
    color:white;
}

.headimage{
    position:relative;
    left:30px;
    display:inline-block;
    margin-top:10px;
    margin-bottom:10px;
}

.menus{
    float: right;
    position:relative;
    right:30px;
    margin-top:10px;
    margin-bottom:10px;
}


.contain{
    width:100%;
    text-align: center;
    font-size: 20px;
    font-family:"STXingkai",SimSum,Arial;
    overflow: auto;
    margin-top:20px;
    margin-bottom:20px;
}

.img_contanin{
     
    margin: auto;
    overflow: auto;
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
    
}

.move{
    background-color:thistle;
    margin:2%;
    float:left;
    width:20%;
    height: 300px;
    text-align: center;
}

.move img{
    margin-top: 5%;
    height:85%;
    width:90%;
}
.move img:hover{
    opacity: 0.5;}
.book{
    background-color:thistle;
    width:20%;
    height: 300px;
    margin:2%;
    float:left;
    text-align: center;
}

.book img{
    margin-top: 5%;
    height:85%;
    width:90%;
}

.book img:hover{
    opacity: 0.5;}
.footer{
    width:100%;
    background-color:thistle;
    color:white;
}



.show{
    width:80%;
    position:relative;
    left:10%;
    right:10%;
}

.show img{
    height:120px;
    float:right;
    margin-top:20px;
    margin-bottom:20px;
}

.right{
    text-align: center;
    margin-top:10px;
    
    
}

