*{
    margin: 0 auto;
}
.header{
    height: 80px;
    min-width:1400px;
    background-color:rgb(87, 82, 87);
    position: sticky;
    top: 0.1px;
    
}
.header .nav{
    margin:0 auto;
    width: 1300px;
    height: 100%;
}
.header .nav .nav_left{
    /* position:fixed; */
    float:left;
    height: 100%;
    width:220px;
}
.header .nav .nav_left h1{
   padding: 20px 0px 20px 0px;
    line-height:0 auto;
    margin-left: 60px;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 40px;
}
.header .nav .nav_left h1 img{
    width: 20%;
    height: 100%;
}
.header .nav .nav_right{
    float:right;
    height: 100%;
    width:400px;

}
.header .nav .nav_right .list{
    list-style: none;
    height: 90px;
    width: 100%;
}
.header .nav .nav_right .list li{
    float: left;
    line-height: 80px;
    font-size: 20px;
    width: 100px;
    text-align: center;
}
.header .nav .nav_right .list li:hover{
    background-color: rgb(114, 109, 114);
}
.header .nav .nav_right .list li a{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color:  rgb(255, 255, 255);
}
.header .nav .nav_right .list .xl{
    position: relative;
    background-color:rgb(87, 82, 87);
    font-size: 20px;
    color:   rgb(255, 255, 255);
    cursor: pointer;
    width: 100px;
    /* height: 64px;  */
    line-height: 76px;
    text-align: center;
    float: right;
}
.header .nav .nav_right .xl .dpc{
    display: none;
    position: absolute;
    min-width: 100px;
}
.header .nav .nav_right .list .xl:hover{
    background-color:#6d6362;
}
.header .nav .nav_right .list .xl .dpc a{
    display: block;
    background-color:#9c9695;
    color:  #000;
    display: block;
    font-size: 18px;
    line-height: 50px;
    min-width: 100px;
}
.header .nav .nav_right .list .xl .dpc a:hover{
    background-color:thistle;
}
.header .nav .nav_right .xl:hover .dpc{
    display: block;
}
.content{
    height: 1100px;
    width: 1400px;
    margin:0 auto;
    min-width:1400px;
}
.content .movie{
   width: 1300px;
   height: 500px;
   margin:0 auto;
}
.content .movie .demo{
   text-align: center;

}
.content .movie  hr{
   width: 10%;
   margin:10px auto;
   /* border: 0;
   height: 4px;
   background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,75),rgba(0,0,0,0),); */
}
.content .movie .movie01{
    width: 300px;
    height: 400px;
    float: left;
    margin-left: 20px;
    text-align: center;
    border:2px solid #6d6362;
    background-color: rgb(196, 211, 228);
}
.content .movie .movie01:hover{
    border:1px solid #000;
}
.content .movie .movie01:hover img{
    opacity: 0.5;
}
.content .movie .movie01 a{
    text-decoration: none;
    color:  #000;
}
.content .movie .movie01 a:visited{
    text-decoration: none;
    color:  #000;
}
.content .movie .movie01 img{
    width: 90%;
    height: 80%;
    margin-top: 20px;
    
}
.content .movie .movie01 p{
    font-size: 20px;
    margin-top: 10px;
}
.content .book{
    width: 1300px;
    height: 500px;
    margin:0 auto;
}
 .content .book .demo{
    text-align: center;
 }
 .content .book  hr{
    width: 10%;
    margin:10px auto;
 }
 .content .book .book01{
     width: 300px;
     height: 400px;
     float: left;
     margin-left: 20px;
     text-align: center;
     border:2px solid #6d6362;
     background-color: rgb(196, 211, 228);
 }
 .content .book .book01:hover{
    border:1px solid #000;
 }
 .content .book .book01:hover img{
     opacity: 0.5;
 }
 .content .book .book01 a{
    text-decoration: none;
    color:  #000;
 }
 .content .book .book01 a:visited{
    text-decoration: none;
    color:  #000;
 }
 .content .book .book01 img{
     width: 90%;
     height: 80%;
     margin-top: 20px;
 }
 .content .book .book01 p{
     font-size: 20px;
     margin-top: 10px;
 }
.footer{
    height: 280px;
    min-width:1400px;
    background-color: rgb(87, 82, 87);
    position: relative;
}
.footer .ewm {
    width: 1200px;
    height: 200px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -600px;
    transform: translateY(-50%);
}
.footer .ewm .ant{
    float: left;
    width: 900px;
    height: 150px;
    margin-left: 25px;
    margin-top:25px;
    font-size: 20px;
    color: rgb(247, 247, 247);
}
.footer .ewm .ewn img{
    width: 150px;
    height: 150px;
    float: right;
    margin:25px 25px 25px 25px;
}
.footer .footer_line{
    position: absolute;
    height: 60px;
    width: 1200px;
    bottom: 5%;
    left:50%;
    margin-left: -600px;
}
.footer p{
    font-size: 20px;
    line-height: 60px;
    text-align: center;
}
